<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="./styles/style.css">

    </head>
<body>
    <section id="navBar">
        <div class="navBar">
            <div class="left">
            <h1>To Do List</h1>
        </div>
        <div class="right">
            <ul>
                <li><a href="/logout">Logout</a> </li>
                <!-- <li><a href="#">about</a></li>
                <li><a href="#">work</a></li> -->
            </ul>
        </div>
        </div>
        

    </section>
    
